<header>
  <h1>BATS</h1>
</header>
<nav>
  <ul>
    <li><a href="groups">Groups</a></li>
    <li><a href="agents">Agents</a></li>
  </ul>
</nav>
<div>
  {{outlet}}
</div>

<footer>
  &copy;2016 Brought to you by LightMinder...
</footer>
